@use "variables" as*;

body {
    main {
        min-height: 66vh;

        #particles-js {
            background-color: rgb(5, 5, 23);
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            pointer-events: none;
        }
    }
}